.chat-room {
  display: flex;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
}

/* ----- Left Column ----- */
.chat-room > div:first-child {
  width: 25%;
  height: 94vh;
  margin: 3vh 0rem 3vh 3rem;
  padding-left: 2rem;
  box-sizing: border-box;
}

/* Informations about room */
.informations {
  height: calc(100% - 8.2rem);
}
.informations-room {
  padding-top: 3rem;
  min-height: 14rem;
  box-sizing: border-box;
}
.informations-room > p:first-child {
  font-size: 1.8rem;
}
.informations-room > p:first-child > span {
  font-weight: 600;
}
.informations-room > p:nth-child(2) {
  font-size: 2.2rem;
  padding-top: 0.6rem;
  font-weight: 800;
}
.informations-room > p {
  text-align: center;
}

/* Informations about users */
.informations-users {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 14rem);
}
.informations-users > p {
  font-size: 1.6rem;
  margin-bottom: 1.4rem;
  font-weight: 600;
  color: var(--independence);
  text-align: center;
}
.informations-users .scrolling-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}
.informations-users .scrolling-list::-webkit-scrollbar {
  display: none;
}
.single-user {
  width: 75%;
  font-size: 1.6rem;
  padding: 0.6rem 1rem;
  margin-bottom: 1rem;
  border-radius: 0.4rem;
  font-weight: 600;
}
.single-user p {
  text-align: center;
}

/* ----- Chat Column ------ */
.chat-room .chat-col {
  width: 70%;
  height: 94vh;
  margin: 3vh 3rem;
  border-radius: 1rem;
  background-color: var(--extra-light-independence);
  display: flex;
  flex-direction: column;
}

/* Messages section */
.messages {
  height: calc(100% - 9rem);
  box-sizing: border-box;
  padding: 2rem 0 0 0;
  overflow-y: scroll;
}
.messages::-webkit-scrollbar {
  display: none;
}

/* Chat input */
.chat-room form {
  background-color: white;
  height: 5rem;
  margin: 2rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}
.chat-room form .btn {
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  margin: 0 1rem;
  cursor: pointer;
}
.fa-angle-right {
  border-radius: 1rem;
  font-size: 3rem;
  color: white;
}
.chat-room form input {
  flex: 1;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 2rem;
}

/* Message bubble */
.msg-bubble,
.msg-bubble-owner {
  padding: 0 1rem 2rem 1rem;
  display: flex;
}
.msg-bubble-owner {
  justify-content: flex-end;
}
.msg-bubble > div,
.msg-bubble-owner > div {
  display: flex;
}
.msg-bubble > div {
  margin-right: 8rem;
}
.msg-bubble-owner > div {
  flex-direction: row-reverse;
  margin-left: 8rem;
}
.msg-bubble .sender-infos,
.msg-bubble-owner .sender-infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.msg-bubble .sender-infos {
  margin-right: 1.4rem;
}
.msg-bubble-owner .sender-infos {
  margin-left: 1.4rem;
}
.msg-bubble .sender-infos > p:first-child,
.msg-bubble-owner .sender-infos > p:first-child {
  font-weight: 600;
  color: var(--independence);
  font-size: 1.6rem;
}
.msg-bubble .sender-infos > p:last-child,
.msg-bubble-owner .sender-infos > p:last-child {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--independence);
  padding-top: 0.5rem;
}
.msg-bubble .msg,
.msg-bubble-owner .msg {
  font-size: 2rem;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  padding: 0.8rem;
}
.msg-bubble-owner .msg {
  border-bottom-right-radius: 0rem;
  box-shadow: 0.3rem 0.3rem 0.3rem 0.02rem var(--light-independence);
}
.msg-bubble .msg {
  border-bottom-left-radius: 0rem;
  background-color: white;
  box-shadow: 0.4rem 0.4rem 0.4rem 0.02rem var(--light-independence);
}

/* New connection message */
.new-connection {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--light-independence);
  text-align: end;
  margin: 2rem 1rem 2rem 2rem;
}

/* ---------------- */
/* Media queries */
/* ---------------- */

@media (max-width: 768px) {
  .informations-users .scrolling-list {
    display: none;
  }
  .chat-room {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .chat-room > div:first-child {
    width: 100%;
    height: auto;
    margin: 0vh 0rem 0vh 0rem;
    padding-left: 0rem;
    padding: 1rem;
  }
  .chat-room .chat-col {
    width: 100%;
    height: auto;
    flex: 1;
    margin: 0vh 0rem;
    overflow-y: scroll;
    border-radius: 0rem;
  }
  .informations {
    height: auto;
  }
  .informations-room {
    padding: 1rem 0;
    min-height: 2rem;
    display: flex;
    justify-content: center;
  }
  .informations-room > p:nth-child(2) {
    font-size: 1.8rem;
    padding-top: 0rem;
    padding-left: 0.6rem;
  }
  .informations-users {
    height: calc(100% - 14rem);
    height: auto;
  }
  .informations-users > p {
    margin-bottom: 0rem;
  }
}
