.home {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home .input-container {
  margin: 30vh 0 30vh 0;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  display: flex;
  align-items: center;
}

.home .input {
  padding-bottom: 0.5em;
  width: 30vw;
  font-size: 2em;
  color: var(--independence);
  font-weight: 600;
  font-family: inherit;
}

.home .input::placeholder {
  color: var(--light-independence);
  font-family: inherit;
}

.home .fa-sign-in-alt {
  font-size: 2em;
  color: var(--light-independence);
  cursor: pointer;
}

.home .fa-sign-in-alt:hover {
  color: var(--independence);
}

.home .colors > p {
  font-size: 1.6em;
  color: var(--independence);
  font-weight: 600;
  text-align: center;
}

.home .color-circles {
  display: flex;
  justify-content: center;
}

.home .color-circles > div {
  height: 5em;
  width: 5em;
  margin: 2em;
  border-radius: 50%;
  cursor: pointer;
}

.home .color-circles > div:hover {
  transform: scale(1.2, 1.2);
}

@media (max-width: 1024px) {
  .home .input {
    width: 50vw;
  }
}

@media (max-width: 768px) {
  .home .input {
    width: 60vw;
  }
}

@media (max-width: 576px) {
  .home .input {
    width: 70vw;
  }
}
