.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* Input */
.home .input-container {
  border-bottom-width: 0.3rem;
  border-bottom-style: solid;
  display: flex;
  align-items: center;
}

.home .input {
  padding-bottom: 0.5rem;
  width: 30vw;
  font-size: 2rem;
  color: var(--independence);
  font-weight: 600;
}

.home .input::placeholder {
  color: var(--light-independence);
}

.home .fa-sign-in-alt {
  font-size: 2rem;
  color: var(--light-independence);
  cursor: pointer;
}

.home .fa-sign-in-alt:hover {
  color: var(--independence);
}

/* Circles */
.home .colors > p {
  font-size: 1.6rem;
  color: var(--independence);
  font-weight: 600;
  text-align: center;
}

.home .color-circles {
  display: flex;
  justify-content: center;
}

.home .color-circles > div {
  height: 5rem;
  width: 5rem;
  margin: 2rem;
  border-radius: 50%;
  cursor: pointer;
}

.home .color-circles > div:hover {
  transform: scale(1.2, 1.2);
}

/* ---------------- */
/* Media queries */
/* ---------------- */

@media (max-width: 1024px) {
  .home .input {
    width: 40vw;
  }
}

@media (max-width: 768px) {
  .home .input {
    width: 50vw;
  }
}

@media (max-width: 480px) {
  .home .input {
    width: 70vw;
  }
}
