/* ---------------- */
/* Colors codes */
/* ---------------- */

:root {
  /* Common grey */
  --independence: #5d576a;
  --light-independence: rgb(93, 87, 106, 0.5);
  --extra-light-independence: rgb(93, 87, 106, 0.2);

  /* Pink */
  --dark-brick-pink: #f8567b;
  --brick-pink: #f785a0;
  --light-brick-pink: #fadfe5;

  /* Green */
  --dark-ocean-green: #2f7955;
  --ocean-green: #72ba9b;
  --light-ocean-green: #d5f2e3;

  /* Blue */
  --dark-blue-jeans: #2b83cc;
  --blue-jeans: #41a7fa;
  --light-blue-jeans: #c2dbf0;

  /* Purple */
  --dark-lavender: #734aad;
  --lavender: #a881dd;
  --light-lavender: #daceeb;

  /* Red */
  --dark-apple-red: #ce0000;
  --apple-red: #eb3636;
  --light-apple-red: #facfcf;

  /* Yellow */
  --dark-mikado-yellow: #f7a709;
  --mikado-yellow: #ffc600;
  --light-mikado-yellow: #ffefb7;
}


/* ---------------- */
/* Font size */
/* ---------------- */

html {
  font-size: 62.5%;
}

@media (max-width: 1024px) {
  html {
    font-size: 56.25%;
  }
}


/* ---------------- */
/* Global rules */
/* ---------------- */

body {
  font-family: "Rubik", sans-serif;
}

input {
  outline: none;
  border: none;
  font-family: inherit;
}


/* ---------------- */
/* Colors */
/* ---------------- */

/* Pink */
.bgc-pink,
.hover-bgc-pink:hover {
  background-color: var(--brick-pink);
}
.color-pink {
  color: var(--brick-pink);
}
.border-bottom-pink {
  border-bottom-color: var(--brick-pink);
}

/* Blue */
.bgc-blue,
.hover-bgc-blue:hover {
  background-color: var(--blue-jeans);
}
.color-blue {
  color: var(--blue-jeans);
}
.border-bottom-blue {
  border-bottom-color: var(--blue-jeans);
}

/* Green */
.bgc-green,
.hover-bgc-green:hover {
  background-color: var(--ocean-green);
}
.color-green {
  color: var(--ocean-green);
}
.border-bottom-green {
  border-bottom-color: var(--ocean-green);
}

/* Purple */
.bgc-purple,
.hover-bgc-purple:hover {
  background-color: var(--lavender);
}
.color-purple {
  color: var(--lavender);
}
.border-bottom-purple {
  border-bottom-color: var(--lavender);
}

/* Red */
.bgc-red,
.hover-bgc-red:hover {
  background-color: var(--apple-red);
}
.color-red {
  color: var(--apple-red);
}
.border-bottom-red {
  border-bottom-color: var(--apple-red);
}

/* Yellow */
.bgc-yellow,
.hover-bgc-yellow:hover {
  background-color: var(--mikado-yellow);
}
.color-yellow {
  color: var(--mikado-yellow);
}
.border-bottom-yellow {
  border-bottom-color: var(--mikado-yellow);
}

/* Dark Pink */
.bgc-dark-pink {
  background-color: var(--dark-brick-pink);
}
.hover-color-dark-pink:hover,
.selected-dark-pink,
.color-dark-pink {
  color: var(--dark-brick-pink);
}
.pulse-pink {
  background-image: radial-gradient(var(--dark-brick-pink), var(--brick-pink));
  box-shadow: 0 0 0 0 var(--dark-brick-pink);
}

/* Dark Blue */
.bgc-dark-blue {
  background-color: var(--dark-blue-jeans);
}
.hover-color-dark-blue:hover,
.selected-dark-blue,
.color-dark-blue {
  color: var(--dark-blue-jeans);
}
.pulse-blue {
  background-image: radial-gradient(var(--dark-blue-jeans), var(--blue-jeans));
  box-shadow: 0 0 0 0 var(--dark-blue-jeans);
}

/* Dark Green */
.bgc-dark-green {
  background-color: var(--dark-ocean-green);
}
.hover-color-dark-green:hover,
.selected-dark-green,
.color-dark-green {
  color: var(--dark-ocean-green);
}
.pulse-green {
  background-image: radial-gradient(
    var(--dark-ocean-green),
    var(--ocean-green)
  );
  box-shadow: 0 0 0 0 var(--dark-ocean-green);
}

/* Dark Purple */
.bgc-dark-purple {
  background-color: var(--dark-lavender);
}
.hover-color-dark-purple:hover,
.selected-dark-purple,
.color-dark-purple {
  color: var(--dark-lavender);
}
.pulse-purple {
  background-image: radial-gradient(var(--dark-lavender), var(--lavender));
  box-shadow: 0 0 0 0 var(--dark-lavender);
}

/* Dark Red */
.bgc-dark-red {
  background-color: var(--dark-apple-red);
}
.hover-color-dark-red:hover,
.selected-dark-red,
.color-dark-red {
  color: var(--dark-apple-red);
}
.pulse-red {
  background-image: radial-gradient(var(--dark-apple-red), var(--apple-red));
  box-shadow: 0 0 0 0 var(--dark-apple-red);
}

/* Dark Yellow */
.bgc-dark-yellow {
  background-color: var(--dark-mikado-yellow);
}
.hover-color-dark-yellow:hover,
.selected-dark-yellow,
.color-dark-yellow {
  color: var(--dark-mikado-yellow);
}
.pulse-yellow {
  background-image: radial-gradient(
    var(--dark-mikado-yellow),
    var(--mikado-yellow)
  );
  box-shadow: 0 0 0 0 var(--dark-mikado-yellow);
}

/* Light Pink */
.bgc-light-pink {
  background-color: var(--light-brick-pink);
}

/* Light Blue */
.bgc-light-blue {
  background-color: var(--light-blue-jeans);
}

/* Light Green */
.bgc-light-green {
  background-color: var(--light-ocean-green);
}

/* Light Purple */
.bgc-light-purple {
  background-color: var(--light-lavender);
}

/* Light Red */
.bgc-light-red {
  background-color: var(--light-apple-red);
}

/* Light Yellow */
.bgc-light-yellow {
  background-color: var(--light-mikado-yellow);
}
