.go-back {
  border-bottom: 0.2em var(--extra-light-independence) solid;
  display: flex;
  align-items: center;
  height: 8em;
}

.go-back > .btn {
  background-color: var(--extra-light-independence);
  height: 4em;
  width: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  margin-right: 2em;
  cursor: pointer;
}

.go-back > .btn:hover {
  background-color: var(--light-independence);
}

.go-back > p {
  font-size: 2em;
  color: var(--independence);
  font-weight: 600;
}

.go-back .fa-angle-left {
  color: var(--independence);
  border-radius: 1em;
  font-size: 3em;
}
