.go-back {
  border-bottom: 0.2rem var(--extra-light-independence) solid;
  display: flex;
  align-items: center;
  height: 8rem;
}

.go-back > .btn {
  background-color: var(--extra-light-independence);
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  margin-right: 2rem;
  cursor: pointer;
}

.go-back > .btn:hover {
  background-color: var(--light-independence);
}

.go-back > p {
  font-size: 2rem;
  color: var(--independence);
  font-weight: 600;
}

.go-back .fa-angle-left {
  color: var(--independence);
  border-radius: 1rem;
  font-size: 3rem;
}
